<h2>My movies list</h2>
<div>
  <label
    >Movie name:
    <input #movieName />
  </label><br>
  <label
    >Date Released:
    <input #movieDate type="date">
  </label> &nbsp;
  <!-- (click) passes input value to add() and then clears the input -->
  <button (click)="add(movieName.value, movieDate.value); movieName.value = ''">add</button>
  <ul class="movies">
    <li
      *ngFor="let movie of movies"
      (click)="movieSelected.emit(movie)"
      appMovieHighlighter
    >
      <a (click)="edit(movie)">
        <span class="badge">{{ movie.id }}</span>
        <span *ngIf="movie !== editMovie">{{ movie.title }}</span>
        <input
          *ngIf="movie === editMovie"
          [(ngModel)]="movie.title"
          (blur)="update()"
          (keyup.enter)="update()"
        />
      </a>
      <button class="delete" title="delete movie" (click)="delete(movie)">
        x
      </button>
    </li>
  </ul>
</div>
